<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block %}
    {% load static %}
    {% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
    {% bootstrap_css %}         {# Embed Bootstrap CSS #}
    {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
    <div class="container"></div>
        <h1>Thông tin giỏ hàng</h1>
        <table class="table">
            <thead class="danger">
                <th>Tên Sách</th>
                <th>Mã sách</th>
                <th>Ngày mượn</th>
                <th>Ngày trả</th>
                <th>Cập nhật ngày trả</th>
                <th>Xóa</th>
            </thead>
            <tbody>
                <div>
                    {% for item in cart %}
                        <tr class="success">
                            <td>  
                                <a href="{% url 'catalog:bookdetail' item.book_instance.book.id%}"><img src={{item.book_instance.book.image.url}} width="200" height="200"></a>
                            </td>
                            <td>{{item.book_instance}}</td>
                            <td>{{item.start_day}}</td>
                            <td>{{item.due_date}}</td>
                            <td>
                                {{ item.update_quantity_form.media }}            {# Adds date-picker required JS and CSS #}
                                <form action = "{% url 'cart:cart_add' item.book_instance.pk%}" method = "POST">
                                    {% bootstrap_form item.update_quantity_form %}
                                    {{item.update_quantity_form.update}}
                                    <input type ="submit" value = "Cập nhật"/>
                                    {% csrf_token %}
                                </form>
                            </td>
                            <td><a href="{% url 'cart:cart_remove' item.book_instance.pk %}">Xóa</a></td> 
                            
                        </tr>
                    {% endfor %}
                </div>
            </tbody>
        </table>
        <div>
            {% if user.is_authenticated %}
                <form action = "{% url 'cart:cart_submit' %}" method = "POST">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">SUBMIT</button>
                    {% csrf_token %}
                </form>
            {% else %}
                <h2>Vui lòng đăng nhập để tiến hành mượn sách</h2>
            {% endif %}

        </div>
    </div>
{% endblock %}